main.content {
  @apply bg-gradient-to-br from-pink-50 to-orange-50;
}

.form-submit-button {
  border-top: none !important;
  button {
    width: 100%;
    border-radius: 0.5rem;
    span {
      text-transform: capitalize !important;
      font-weight: 400;
    }
  }
}
